* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.toolbar {
  order: 1;
}

.navbar {
  order: 2;
}

.student {
  order: 3;
}

@media screen and (max-width: 768px) {

  .navbar {
    width: 100%;
    float: none;
    order: 3;
  }

  .student {
    width: 100%;
    float: none;
    order: 2;
  }
}

.success {
  background-color: rgb(35, 145, 35);
  color: white;
}

.error {
  background-color: rgb(210, 57, 57);
  color: white;
}

.formBackground {

  min-height:50vh;
  min-width:90vh;
  display: block;
}